* {
  background-color: gray;
  font-size: 20px;
}
section {
  border: 1px solid;
  margin: 5px;
  width: 450px;
  height: 350px;
  float: left;
}
.total-sales{
  font-weight: bold;
}
.cookie-sales{
  margin: 5px;
  font-weight: normal;
}
table, tr, td, th{
  border: 1px solid;
}
ul{
  text-align: center;
  list-style-type: none;
  margin: 10px;
}
li{
  display: inline;
  font-size: 50px;
  margin-left:40px;
}
img{
  margin-left: 100px;
}
