* {
  background-color: gray;
  font-size: 20px;
}
section {
  border: 1px solid;
  margin: 5px;
  width: 450px;
  height: 350px;
  float: left;
}
.total-sales{
  font-weight: bold;
}
ul{
  font-weight: bold;
}
.cookie-sales{
  margin: 5px;
  font-weight: normal;
}
table, tr, td, th{
  border: 1px solid;
}
